* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 10px 0;
}

/* header section  */

.menu-ber {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.nav-ber ul {
    display: flex;
    align-items: center;
}

.nav-ber li {
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
}

.header-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90vh; */
    width: 980px;
    margin: 0 auto;
    padding: 50px 0;
}

.header-title {
    font-size: 50px;
}

.title {
    font-size: 20px;
}

.header-btn {
    background-color: #da0c61;
    padding: 8px 20px;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    margin-top: 25px;

}

.image img {
    width: 100%;
}

/* social-adds */
.social-adds {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.social-adds img {
    width: 70px;
}

/* collection */
.collection-section {
    margin-top: 50px 0;

}

.products-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.collection-title {
    text-align: center;
}

.product {
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.product img {
    width: 300px;
    height: 256px;
    margin-top: 10px;
    margin-left: 15px;
}

.discription {
    margin-left: 15px;
}

.discription h3 {
    margin: 5px 0;
    font-weight: 500;
    font-size: 28px;
}

.discription p {
    margin: 5px 0;
    font-weight: 700;
    font-size: 14px;
}

/* group-section */
.group-section {
    display: flex;
    gap: 50px;
    padding-top: 50px;
}
.group-section img{
    width: 100%;
}
.group-section h1 {
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 10px;
}

.group-section p {
    font-weight: 700;
    font-size: 16px;
    margin: 20px 0;
}

.grp-btn {
    padding: 10px 24px;
    background: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
}

@media screen and (max-width:576px) {
    .menu-ber {
        display: none;
    }

    .container {
        width: 100%;
    }

    .header-section-content {
        flex-direction: column;
        width: 100%;
        flex-direction: column-reverse;
        padding: 10px;
    }

    .heder-contant {
        text-align: center;
    }

    .social-adds {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .products-items {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
    }

    .group-section {
        flex-direction: column;
        padding: 0 10px;
    }
    .text-area{
        text-align: center;
    }
}