*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width: 980px;
    margin: 0 auto;
    padding: 10px 0;
}
/* header section  */

.menu-ber{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.nav-ber ul{
    display: flex;
    align-items: center;
}
.nav-ber li{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
}

.header-section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90vh; */
    width: 980px;
    margin:0 auto;
    padding: 50px 0;
}
.header-title{
    font-size: 50px;
}
.title{
    font-size: 20px;
}
.header-btn{
    background-color: #da0c61;
    padding: 8px 20px;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    margin-top: 25px;

}
.image img{
    width: 100%;
}
/* social-adds */
.social-adds{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.social-adds img{
    width: 70px;
}






@media screen and (max-width:576px) {
    .menu-ber{
        display: none;
    }
    .container{
        width: 100%;
    }
    .header-section-content{
        flex-direction: column;
        width: 100%;
        flex-direction: column-reverse;
        padding: 10px;
    }
    .social-adds{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}